/* Menu Bolumu */

    .logom{
        width: 100px;
    height: 100px;
    background-color: rgba(56, 39, 25, 0.937);
 
   
    }
    .bas{
        background-attachment: fixed;
    }
   
.title{
    padding: 41px;
   color: rgb(140, 110, 70);
}
    .nav-item{
    display: flex;
     align-items: center;
   
        
    }
    .ayrac{
        font-size: 20px;
        margin: 0px 20px;
        color: rgb(70, 48, 48);
    }
    .nv-bg{
        background-color:white;
 
    }
  .nav-item a{
      color: rgb(26, 4, 4);
        font-size: 16px;
        font-weight: bold;
        padding: 8px;
       
    }
    .nav-item a:hover{
        color: rgb(184, 61, 61);
          }
          
          @media screen and
              
           (max-width: 992px)  {
              .ayrac{
                  display: none;
              }
          }

          .nav-item ,
          .nav-link active:hover{
              color: #30b286;;
          }





/* Slider Bolumu */


    .resimSlider{
        display: inline-block;
    max-width: 100%;
    margin-top: 50px;
    margin-bottom: 25px;
  
     
  
     
    
    
    }


    /* Hedef sayfasi */
   
    
   .img-fluid{
    margin-top: 2.2rem;
    margin-left: 25px;
   }
   
   .card {
   margin-top: 2rem;
  background-image: cov;
   }
 
    
   
    /*Footer Bolumu */
    .footer{
        background-color: yellowgreen;
        height: 300px;
        margin-top: 50px;
    }
   
    .under{
        display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 110px;
      color: rgb(249, 247, 247);
      font-size: 20px;
     
    }
 .par{
   
    margin-top: 3rem;
 }

 /*About Us */
.container{
    background-color:white
}
 .about{
    height: 300px;
    margin: 1rem;
    margin-top: 3rem;
 }
 .hak{
    text-align: center;
    margin-top: 2rem;
 }
 .hakkimiz{
    margin-top: 2.5rem;
 }
