
    .logom{
        width: 100px;
    height: 70px;
   
    }
    .nav-item{
    display: flex;
     align-items: center;
   
        
    }
    .ayrac{
        font-size: 20px;
        margin: 0px 20px;
        color: rgb(28, 8, 8);
    }
    .nv-bg{
        background-color: rgba(122 ,122 ,122 ,0.356);
 
    }
  .nav-item a{
        color: rgb(44, 38, 17);
        font-size: 16px;
        font-weight: bold;
        padding: 8px;
       
    }
    
    .nav-item a:hover{
    color: #309c78;;
    }
    
    @media screen and
        
     (max-width: 992px)  {
        .ayrac{
            display: none;
        }
    }
    .nav-item ,
    .nav-link active:hover{
        color: #309c78;;
    }
    