:root{
    --color1:rgb(23, 42, 1);
    --color2:rgb(124, 39, 39);
    
}

    .logom{
        width: 100px;
    height: auto;
   
    }
    .nav-item{
     display: flex;
     align-items: center;
        
    }
    .ayrac{
        font-size: 20px;
        margin: 0 20px;
        color: rgb(59, 39, 39);
    }
    .nv-bg{
        background-color: rgba(122 ,122 ,122 ,0.356);
 
    }
    .nav-item a{
        color: rgb(44, 38, 17);
        font-size: 1.1rem;
        font-weight: bold;
    }
    .nav-item a:hover{
        background-color: rgb(105, 120, 171);
    }
     

 